@import url("https://fonts.googleapis.com/css2?family=Poppins&family=Roboto&display=swap");
html {
  scroll-behavior: smooth;
}

body {
  background: #262626;
  font-family: "Roboto", sans-serif;
  color: #fff;
}
body #navigation-arrow {
  margin: 20px;
  width: 20px;
  color: #e6e6e6;
}
body #navigation-arrow:hover {
  color: #a6a6a6;
}
body p {
  font-size: 15px;
  text-align: center;
  margin-left: 0px auto;
  margin-right: 0px auto;
}
body.active {
  overflow: hidden;
  z-index: -1;
}
body a i {
  padding: 20px;
  color: #e6e6e6;
  size: 200px;
}
body a i:hover {
  color: #a6a6a6;
}
body h3 {
  text-align: center;
  font-weight: 450;
  font-size: 1em;
  background-color: #fff;
  color: #262626;
  font-family: "Poppins", sans-serif;
  max-width: 150px;
}

/** 
    -- MENU CONTENT -- 
**/
header {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  text-align: center;
  z-index: 10;
}
header ul {
  display: inline-block;
  padding: 5px;
  margin: 20px;
}
header li {
  display: inline-block;
}
header a {
  padding: 5px;
  font-size: 1em;
  color: #fff;
  font-family: "Poppins", sans-serif;
  border: 1px solid;
}
header a:hover {
  text-decoration: none;
  color: #a6a6a6;
}

/** 
    -- LEADING SECTION -- 
**/
#lead {
  position: relative;
  height: 100vh;
  min-height: 500px;
  max-height: 1080px;
  background-size: cover;
  padding: 15px;
  overflow: hidden;
}

#lead-content {
  position: absolute;
  z-index: 10;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
}
#lead-content h1 {
  text-align: center;
  color: #fff;
  font-weight: 900;
  font-size: 2em;
  font-family: "Poppins", sans-serif;
}
#lead-content h2 {
  text-align: center;
  color: #a6a6a6;
  font-weight: 450;
  font-size: 1.5em;
  margin-top: 5px;
  font-family: "Roboto", sans-serif;
}

/** 
    -- ABOUT SECTION -- 
**/
#about-content {
  padding: 50px 15px;
  text-align: center;
  padding-bottom: 150px;
}
#about-content h2 {
  text-align: center;
  color: #fff;
  font-weight: 900;
  font-size: 2em;
  font-family: "Poppins", sans-serif;
  text-decoration: underline;
}

/**
    -- PROJECT SECTION -- 
**/
#projects-content {
  padding: 50px 15px;
  padding-bottom: 150x;
}
#projects-content h2 {
  text-align: center;
  color: #fff;
  font-weight: 900;
  font-size: 2em;
  font-family: "Poppins", sans-serif;
  text-decoration: underline;
}
#projects-content #project-card {
  padding: 15px;
}
#projects-content #project-card img {
  width: 60%;
  margin: 5px;
  border: 1px white solid;
}
#projects-content #project-card p {
  text-align: left;
  color: #fff;
  font-weight: 300;
  font-size: 1em;
  font-family: "Roboto", sans-serif;
}
#projects-content #project-card button {
  font-family: "Roboto", sans-serif;
  margin: 0px auto;
  background-color: #262626;
  color: #fff;
  border: 1.5px #fff solid;
}
#projects-content #project-card button:hover {
  color: #a6a6a6;
  border: 1.5px #a6a6a6 solid;
}

/** 
    -- SKILLS SECTION --
**/
#skills-content {
  padding: 50px 15px;
  text-align: center;
  padding-bottom: 300px;
}
#skills-content h2 {
  text-align: center;
  color: #fff;
  font-weight: 900;
  font-size: 2em;
  font-family: "Poppins", sans-serif;
  text-decoration: underline;
}
#skills-content h3 {
  margin: 10px auto;
}
#skills-content i {
  margin: 5px;
}
#skills-content #skill {
  border: 1px white solid;
  margin: 5px auto;
  padding: 5px;
}
#skills-content #skill-subsection {
  margin: 25px;
}

footer {
  margin: 15px;
  font-family: "Roboto", sans-serif;
  font-size: 14px;
  text-align: center;
}

/*# sourceMappingURL=style.css.map */
