// Background colours:
$background-colour: lighten(black, 15%);

// Text colours:
$base-colour: #fff;
$base-colour-hover: darken($base-colour, 35%);

// Border colors
$border-colour: #dcd9d9;

// Fonts:
@import url("https://fonts.googleapis.com/css2?family=Poppins&family=Roboto&display=swap");
$poppins: "Poppins", sans-serif;
$roboto: "Roboto", sans-serif;

html {
  scroll-behavior: smooth;
}

body {
  background: $background-colour;
  font-family: $roboto;
  color: $base-colour;
  padding-top: 65px;

  @media (max-width: 979px) {
    body {
      padding-top: 65px;
    }
  }

  nav {
    background-color: lighten($background-colour, 5%);
    z-index: 1000;

    a {
      padding: 5px;
      font-size: 0.7em;
      color: $base-colour;
      font-family: $poppins;
      text-transform: uppercase;

      &:hover {
        text-decoration: none;
        color: $base-colour-hover;
      }
    }
  }

  #navigation-arrow {

    color: darken($base-colour, 10%);

    &:hover {
      color: $base-colour-hover;
    }
  }

  p {
    font-size: 10px;
    text-align: center;
    margin-left: 0px auto;
    margin-right: 0px auto;
  }

  &.active {
    overflow: hidden;
  }

  a {
    i {
      padding: 20px;
      color: darken($base-colour, 10%);
      size: 200px;

      &:hover {
        color: $base-colour-hover;
      }
    }
  }

  h3 {
    text-align: center;
    margin: 10px auto;
    font-weight: 450;
    font-size: 1em;
    background-color: $base-colour;
    color: $background-colour;
    font-family: $poppins;
    max-width: 200px;
  }
}
/** 
    -- LEADING SECTION -- 
**/

#lead {
  position: relative;
  height: 100vh;
  min-height: 500px;
  max-height: 1080px;
  background-size: cover;
  padding: 15px;
  margin: 10px;
  overflow: hidden;
}

#lead-content {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
  h1 {
    text-align: center;
    color: $base-colour;
    font-weight: 900;
    font-size: 2em;
    font-family: $poppins;
    text-transform: uppercase;
    letter-spacing: 2px;
  }

  h2 {
    text-align: center;
    color: $base-colour-hover;
    font-weight: 450;
    font-size: 1.5em;
    margin-top: 5px;
    font-family: $roboto;
  }
}

/** 
    -- ABOUT SECTION -- 
**/

#about-content {
  text-align: center;

  p {
    color: darken($base-colour, 20%);
    font-size: 0.9em;
  }
}

/**
    -- PROJECT SECTION -- 
**/

#projects-content {
  background-color: white;
  padding: 40px 200px 40px 200px;

  @media screen and (max-width: 767px) {
    padding: 40px 20px 20px 40px;
  }

  a {
    i {
      padding: 5px;
      color: lighten($background-colour, 10%);
      size: 200px;

      &:hover {
        color: $base-colour-hover;
      }
    }
  }

  h2 {
    text-align: center;
    color: black;
    font-weight: 900;
    font-size: 1.75em;
    font-family: $poppins;
    text-decoration: underline;
    text-transform: uppercase;
  }

  #project-card {
    border-bottom: 1px darken(white, 10%) solid;

    h3 {
      color: black;
      margin-left: 0px;
      font-weight: bold;
      text-align: left;
      max-width: 1000px;
    }

    h4 {
      text-align: left;
      font-weight: bold;
      margin-left: 0px;
      font-size: 0.8em;
      background-color: $base-colour;
      color: $background-colour;
      font-family: $poppins;
    }
    p {
      text-align: left;
      color: lighten(black, 30%);
      font-weight: 300;
      font-size: 0.8em;
      font-family: $roboto;
    }

    #project-description {
      margin: 5px;
    }

    button {
      font-family: $roboto;
      background-color: $background-colour;
      color: $base-colour;
      border: 1.5px $base-colour solid;

      &:hover {
        color: $base-colour-hover;
        border: 1.5px $base-colour-hover solid;
      }
    }
  }
  margin-bottom: 40px;
}

/** 
    -- SKILLS SECTION --
**/
#skills-content {
  padding: 40px 15px;
  text-align: left;
  width: 50%;
  margin: 0px auto;

  h2 {
    text-align: center;
    color: white;
    font-weight: 900;
    font-size: 1.75em;
    font-family: $poppins;
    text-decoration: underline;
    text-transform: uppercase;
  }

  h3 {
    margin-left: 0px;
  }

  ul {
    display: block;
    margin: 0 auto;
    padding: 0;
    max-width: 800px;
  }

  li {
    display: inline-block;
    margin: 7px;
    padding: 5px 10px;
    color: black;
    background: darken(white, 15%);
    list-style: none;
    cursor: default;
    font-size: 0.9em;
    font-family: $poppins;
  }

  #skill-subsection {
    margin: 25px auto;
  }

  margin-bottom: 100px;
}

/** 
    -- CONTACT-SECTION -- 
**/

#contact-content {
  text-align: center;
  background-color: lighten($background-colour, 5%);
  padding: 40px 10px;
  padding-bottom: 5px;

  h2 {
    text-align: center;
    color: white;
    font-weight: 900;
    font-size: 1.75em;
    font-family: $poppins;
    text-decoration: underline;
    text-transform: uppercase;
  }

  p {
    color: darken($base-colour, 20%);
    font-size: 0.9em;
  }

  a {
    color: white;
    text-decoration-line: none;
    font-family: $poppins;
    font-size: 0.75em;
  }

  col {
    border: 1px solid white;
  }
}

/** 
    -- ACADEMICS-SECTION -- 
**/

#academics-content {
  text-align: center;
  background-color: darken(red, 5%);
  padding: 40px 10px;
  padding-bottom: 5px;

  h2 {
    text-align: center;
    color: white;
    font-weight: 900;
    font-size: 1.75em;
    font-family: $poppins;
    text-decoration: underline;
    text-transform: uppercase;
  }

  p {
    color: darken($base-colour, 20%);
    font-size: 0.9em;
  }
}

footer {
  margin-top: 50px;
  font-family: $roboto;
  font-size: 12px;
  text-align: center;
  background-color: lighten($background-colour, 5%);
}


// Animations as provided by Hover.css
/* Underline From Left */
.hvr-underline-from-left {
  display: inline-block;
  vertical-align: middle;
  -webkit-transform: perspective(1px) translateZ(0);
  transform: perspective(1px) translateZ(0);
  box-shadow: 0 0 1px rgba(0, 0, 0, 0);
  position: relative;
  overflow: hidden;
}
.hvr-underline-from-left:before {
  content: "";
  position: absolute;
  z-index: -1;
  left: 0;
  right: 100%;
  bottom: 0;
  background: $base-colour-hover;
  height: 2px;
  -webkit-transition-property: right;
  transition-property: right;
  -webkit-transition-duration: 0.3s;
  transition-duration: 0.3s;
  -webkit-transition-timing-function: ease-out;
  transition-timing-function: ease-out;
}
.hvr-underline-from-left:hover:before, .hvr-underline-from-left:focus:before, .hvr-underline-from-left:active:before {
  right: 0;
}

/* Grow */
.hvr-grow {
  display: inline-block;
  vertical-align: middle;
  -webkit-transform: perspective(1px) translateZ(0);
  transform: perspective(1px) translateZ(0);
  box-shadow: 0 0 1px rgba(0, 0, 0, 0);
  -webkit-transition-duration: 0.3s;
  transition-duration: 0.3s;
  -webkit-transition-property: transform;
  transition-property: transform;
}
.hvr-grow:hover, .hvr-grow:focus, .hvr-grow:active {
  -webkit-transform: scale(1.1);
  transform: scale(1.1);
}
