// Background colours:
$background-colour: lighten(black, 15%);

// Text colours:
$base-colour: #fff;
$base-colour-hover: darken($base-colour, 35%);

// Border colors
$border-colour: #dcd9d9;

// Fonts:
@import url("https://fonts.googleapis.com/css2?family=Poppins&family=Roboto&display=swap");
$poppins: "Poppins", sans-serif;
$roboto: "Roboto", sans-serif;

html {
  scroll-behavior: smooth;
}

body {
  background: $background-colour;
  font-family: $roboto;
  color: $base-colour;

  nav {
    background-color: lighten($background-colour, 5%);
    z-index: 1000;

    a {
      padding: 5px;
      font-size: 0.7em;
      color: $base-colour;
      font-family: $poppins;
      text-transform: uppercase;

      &:hover {
        text-decoration: none;
        color: $base-colour-hover;
      }
    }
  }

  #navigation-arrow {
    margin: 20px;
    width: 20px;
    color: darken($base-colour, 10%);

    &:hover {
      color: $base-colour-hover;
    }
  }

  p {
    font-size: 10px;
    text-align: center;
    margin-left: 0px auto;
    margin-right: 0px auto;
  }

  &.active {
    overflow: hidden;
  }

  a {
    i {
      padding: 20px;
      color: darken($base-colour, 10%);
      size: 200px;

      &:hover {
        color: $base-colour-hover;
      }
    }
  }

  h3 {
    text-align: center;
    margin: 10px auto;
    font-weight: 450;
    font-size: 1em;
    background-color: $base-colour;
    color: $background-colour;
    font-family: $poppins;
    max-width: 200px;
  }
}
/** 
    -- LEADING SECTION -- 
**/

#lead {
  position: relative;
  height: 100vh;
  min-height: 500px;
  max-height: 1080px;
  background-size: cover;
  padding: 15px;
  margin: 10px;
  overflow: hidden;
}

#lead-content {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;

  h1 {
    text-align: center;
    color: $base-colour;
    font-weight: 900;
    font-size: 2em;
    font-family: $poppins;
    text-transform: uppercase;
    letter-spacing: 2px;
  }

  h2 {
    text-align: center;
    color: $base-colour-hover;
    font-weight: 450;
    font-size: 1.5em;
    margin-top: 5px;
    font-family: $roboto;
  }
}

/** 
    -- ABOUT SECTION -- 
**/

#about-content {
  text-align: center;

  h2 {
    text-align: center;
    color: $base-colour;
    font-weight: 900;
    font-size: 1.5em;
    font-family: $poppins;
    text-decoration: underline;
  }

  p {
    color: darken($base-colour, 20%);
    font-size: 0.9em;
  }
}

/**
    -- PROJECT SECTION -- 
**/

#projects-content {
  padding: 50px 15px;

  h2 {
    text-align: center;
    color: $base-colour;
    font-weight: 900;
    font-size: 2em;
    font-family: $poppins;
    text-decoration: underline;
  }

  #project-card {
    margin-bottom: 50px;
    img {
      display: flex;
      justify-self: center;
      width: 30%;
      border: 1px white solid;
    }

    p {
      text-align: middle;
      color: $base-colour;
      font-weight: 300;
      font-size: 1em;
      font-family: $roboto;
    }

    button {
      font-family: $roboto;
      background-color: $background-colour;
      color: $base-colour;
      border: 1.5px $base-colour solid;

      &:hover {
        color: $base-colour-hover;
        border: 1.5px $base-colour-hover solid;
      }
    }
  }

  padding-bottom: 150x;
}

/** 
    -- SKILLS SECTION --
**/
#skills-content {
  // padding: 50px 15px;
  text-align: left;
  width: 50%;
  margin: 0px auto;

  h2 {
    text-align: center;
    color: $base-colour;
    font-weight: 900;
    font-size: 2em;
    font-family: $poppins;
    text-decoration: underline;
  }

  h3 {
    margin-left: 0px;
  }

  #skill {
    margin-right: 15px;
  }

  #skill-subsection {
    margin: 25px auto;
  }
}

footer {
  margin: 15px;
  font-family: $roboto;
  font-size: 12px;
  text-align: center;
}
